@import "../base/veriables";

.phone_book{
  margin-bottom: 70px;
}

.phone_book__btn-wrp{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;


  .btn{
    margin-left: 20px;
  }
}

.phone_book__targets-wrp{
  //margin-bottom: 20px;

  .btn{
    margin: 5px;
    //text-align: left;
    /*display: block;*/
  }
}

.phone_book__targets-item{
  margin-bottom: 20px;
}

.phone_book__table-header{
  background-color: $bg-color-grey;
}

.phone_book__department{
  text-align: center;
}



.phone_book__department--seller{
  background-color: $bg-color-seller;
  color: $font-color-white;

  a{
    color: $font-color-white;
  }
}

.phone_book__department--not-seller{
  background-color:$bg-color-not-seller;

  a{
    color: $font-color-primary;
  }
}

