<div class="container">
    <footer class="main-footer">
        <div class="row">
            <div class="col-2 main-header__logo-wrp img-wrapper"><a href="/">
                {{!-- <a {{#config_content}} href="{{{server_host}}}"{{/config_content}}> --}}
                    <img src="/img/logo.png" alt="Лого" class="main-header__logo-img"></a>
            </div>
            <div class="col-10 main-header__content">Тут буде якась інформація</div>
        </div>
    </footer>
</div>
