<div class="container">
    <header class="main-header">
        <div class="row">
            <div class="main-header__logo-wrp img-wrapper">
                <img src="/img/logo.svg" alt="" class="main-header__logo-img">
            </div>
            <div class="col-auto main-header__content">header</div>
        </div>
    </header>
</div>
