<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}

<div class="container">
    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}
</div>
{{> footer_page}}
</body>
</html>