@import "../base/veriables";
@import "mixins";

.btn{
  transition: background-color 0.5s, color 0.5s;
}

.btn--seller{
  background-color: $bg-color-seller;
  border-color: $bg-color-seller--border;
  color: $font-color-white;
  @include btn-hover-active($bg-color-seller, $font-color-white, $bg-color-seller--border);
}

.btn--not-seller{
  background-color: $bg-color-not-seller;
  border-color: $bg-color-not-seller--border;
  @include btn-hover-active($bg-color-not-seller, $font-color-primary, $bg-color-not-seller--border);
}

.btn-grey{
  background-color: $bg-color-grey__btn;
  border-color: $bg-color-grey__border;
  @include btn-hover-active($bg-color-grey__btn, $font-color-primary, $bg-color-grey__border);
}