@import "../base/veriables";

@mixin links{
  color: $font-color-primary;
  text-decoration: none;
  cursor: pointer;
}

@mixin list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin btn-hover-active($bg-color, $font-color, $border-color){

  &:hover{
    background-color: darken($bg-color, 10%);
    border-color: darken($border-color, 10%);
    color: $font-color;
  }

  &:active{
    background-color: darken($bg-color, 10%);
    border-color: darken($border-color, 10%);
    color: $font-color;
  }
}