@import "../base/veriables";

.main__title{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

/*
.exercises__title{
  margin-bottom: 30px;

  color: $font-color-blue;
}

input{
  padding: 5px;
  font-size: 14px;
  line-height: 1.4em;
  outline: none;
}
*/
