$dir: '../img';

//font
$font-primary: #{16px}/#{20px} 'Open Sans', sans-serif;

//font-color
$font-color-primary:#000;
$font-color-white:#fff;
$font-color-red:#FF0000;
$font-color-blue:#0000FF;
$font-color-green:#008000;

//background-color
$bg-color-white:#fff;
$bg-color-black:#000;

$bg-color-red:#FF0000;
$bg-color-blue:#0000FF;
$bg-color-green:#008000;

$bg-color-grey: #e6e6e6;
$bg-color-grey__border: #808080;
$bg-color-grey__btn: #e0e0e0;

$bg-color-hr:#808080;

// seller
$bg-color-seller:#235DA1;
$bg-color-seller--border: #174d8c;
// not seller
$bg-color-not-seller:#70B603;
$bg-color-not-seller--border: #538603;



