<!doctype html>
<html lang="ru">
{{> head}}
<body>
{{> header}}
<div class="container">
    <h1 class="main__title">Тут колись буде багато корисної інформації, а поки що представлю вам телефонний довідник</h1>
    <div class="row justify-content-center">
        <button class="btn btn-success btn__phone_book_link col-4"><a href="/phone_book">Довідник телефонних номерів та електронної пошти</a></button>
    </div>
</div>
{{> footer}}
{{> footer_page}}
</body>
</html>